@import '../Styles//variables';


.moviecard{
    width: 15rem;
    height:20rem;
    position: relative;
    background: $primary-color;
    margin-bottom: 1rem;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    transition: 0.7s ease-out;
    box-shadow: 0px 7px 10px rgba(black, 0.5);

    &:hover{
        transform: translate(5px);
    

        &::after{
            opacity: 0.6;
        }

        .moviecard--info{
			opacity: 1;
			transform: translateY(0px);
        }

    }


    &::after{
        content: "";
        width: 15rem;
        height: 20rem;
        z-index: 2;
        position: absolute;
        top: 0;
		display: block;
        background-color: black;
        opacity: 0;
		transition: 0.5s;

    }



    &--img
      {
        width: 15rem;
		height: 20rem;
       object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
      }


      &--info{
         position: relative;
         z-index: 5;
         color: white;
         opacity: 0;
         transform: translateY(10px);
         transition: 0.5s;
         bottom: 0;
         left: 0;

        &--title{
            color:white;
            font-size: 1.3rem;
            
            
        }

      }
      


}