
@import '../variables';
@import '../mixins';

.search--container{
    
    margin-top: 3rem;

    @include breakpoint-down(medium){
        margin-top: 5rem;
        text-align: center;
    }

    @include breakpoint-down(vsmall){
        padding-left: 0;
    }



    &-result{
        .result--heading{
            font-size: 2rem;
            color: $main-heading;
            margin-bottom: 1rem;
            margin-left: 2.8rem;

            @include breakpoint-down(medium){
                font-size: 1.8rem;
            }
        }
    }
}