@import "../variables";

.home--container{
    width: 100%;
    height:100%;
    position: relative;
    margin-top: 3rem;
    

    .loading--center{
      
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .msg--center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);

        h1{
            font-size: 1.5rem;
        }
    }
    
    h1{
        font-size: 2rem;
        margin:1rem;
        color: rgb(146, 142, 142);
    }
    



}