@import "../variables";

.home--container{
    width: 100%;
    height:100%;
    position: relative;
    margin-top: 3rem;
    
    color: $main-heading;
    text-transform: capitalize;
    

    .loading--center{
      
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .msg--center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);

        h1{
            font-size: 1.5rem;
        }
    }
    
    h1{
        font-size: 2rem;
        margin:0 0 1rem 5rem;
        
    }
    



}
.margin{
    margin-bottom: 3rem;
}